.button-group-button {
    background-color: #23A96A;
}

.button-group-button:hover {
    background-color: #075033;
}

.margin-top-20 {
    margin-top: 20px;
}
.margin-right-20 {
    margin-right: 20px;
}

.padding-left-5 {
    padding-left: 5px;
}
.margin-right-5{
    margin-right: 5px;
}

.button-grey-search {
    background-color: #999;
    cursor: default;
}

.button-gey{
    background-color: #999;
}

.button-gey:hover {
    background-color: #555;
}

.add-new-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.button-blue {
    background-color: #66b3ff;
    border: 1px solid transparent;
}

.button-blue:hover {
    background-color: #007bff;
    border: 1px solid transparent;
}

.margin-top-50{
    margin-top: 50px;
}