.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Setzt das Overlay in den Vordergrund */
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1001; /* Setzt den Inhalt des Popups über das Overlay */
}

.popup-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.popup-confirm {
    background-color: #ff9999;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.popup-confirm:hover {
    background-color: #d32f2f;
}

/* Abbrechen-Button */
.popup-cancel {
    background-color: #999;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.popup-cancel:hover {
    background-color: #555;
}

.popup-language-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;
}

.language-option-button {
    background-color: #66b3ff; /* helles Blau */
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

.language-option-button:hover {
    background-color: #007bff; /* dunkleres Blau beim Hover */
}

.language-flag {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    object-fit: cover;
}

/* Dark Mode für Popup */
@media (prefers-color-scheme: dark) {
    .popup-content {
        background: #2d2d2d; /* Dunkler Hintergrund */
        color: #ffffff; /* Weißer Text */
    }

    .popup-content h3 {
        color: #ffffff;
    }

    .popup-content p {
        color: #ffffff;
    }
}
